body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  color: #ffffff;
  font-family: "MuseoSansCyrl";
}

.hk-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}


/*SLIDE 1*/

.hk-main {
  background-color: #282828;
}

.hk-header {
  display: block;
  padding: 0 240px;
  height: 90px;
}

.hk-subscribe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  margin-top: 50px;
}

.hk-subscribe:hover {
  color: #31a4b2;
}

.hk-subscribe-icon {
  display: inline-block;
  color: #31a4b2;
  margin-right: 10px;
  font-size: 16px;
}

.hk-subscribe-link {
  font-size: 16px;
  font-family: "ProximaNova";
  font-weight: 300;
  vertical-align: top;
}

.hk-social {
  margin-top: 50px;
}

.hk-social-link a{
  padding: 0px 20px;
  color: #fff;
  transition: .15s ease-in-out;
  font-size: 20px;
}

.hk-social-link a:hover{
  color: #31a4b2;
}

.hk-report-button {
  margin-top: 50px;
  margin-left: 48px;
}

#hk-language-select {
  float: right;
  margin-top: 50px;
  font-size: 16px;
  font-family: "ProximaNova";
  font-weight: 300;
}

#hk-language-select a {
  color: #ffffff;
  margin-left: 35px;
  text-decoration: none;
  transition: .15s ease-in-out;
}

#hk-language-select a:hover,
#hk-language-select a.active {
  color: #31a4b2;
  text-decoration: underline;
}

.hk-main h1 {
  font-size: 60px;
  font-weight: 100;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.hk-main .hk-central_block p {
  color: #ffffff;
  opacity: 0.6;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 70px;
}

.hk-main .hk-central_block a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  text-decoration: none;
  margin-right: 80px;
}

.hk-main .hk-central_block a:hover {
  color: #31a4b2;
}

.hk-pdf {
  color: #31a4b2;
  font-size: 16px;
  font-weight: 900;
  margin-right: 10px;
}

.hk-video {
  color: #31a4b2;
  margin-right: 10px;
  font-size: 20px;
}

.hk-text_blue {
  color: #31a4b2;
}

.hk-text_bold {
  font-weight: 900;
}

.hk-subscribe, .hk-social, .hk-social-link, .hk-report-button, #hk-language-select, #hk-language-select input {
  display: inline-block;
}

.hk-navigation {
  display: block;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 3;
  width: 220px;
}

.hk-logo {
  display: block;
  right: 80px;
  position: absolute;
}

.hk-nav-menu {
  list-style: none;
  margin-top: calc(60px + 6vh);
  padding-left: 0;
}

.hk-nav-menu li {
  position: relative;
  padding: 2vh 0;
  text-align: right;
}

.hk-nav-item {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: transparent;
  font-size: 14px;
  font-weight: 300;
  margin-right: 80px;
}

.hk-nav-item.active, .hk-nav-item:hover {
  color: #31a4b2;
}

.hk-nav-item_name {
  visibility: hidden;
  transition: all 0.3s;
  padding-right: 28px;
  cursor: context-menu;
}

.hk-nav-item.active .hk-nav-item_name, .hk-nav-item:hover .hk-nav-item_name {
  visibility: visible;
}

.hk-menu-circle {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 3px;
  height: 7px;
  width: 7px;
  border: 1px solid #31a4b2;
  border-radius: 50%;
  transition: all 0.3s;
}

.hk-nav-item.active .hk-menu-circle, .hk-nav-item:hover .hk-menu-circle {
  box-shadow: 0 0 0 6px rgba(49, 164, 178, 0.2);
  background: #31a4b2;
}

.hk-nav-item .hk-menu-circle::after {
  content: " ";
  position: absolute;
  top: 3px;
  left: 7px;
  height: 1px;
  width: 0;
  background: #31a4b2;
  transition: all 0.3s;
}

.hk-nav-item.active .hk-menu-circle::after, .hk-nav-item:hover .hk-menu-circle::after {
  content: " ";
  position: absolute;
  top: 3px;
  left: 7px;
  height: 1px;
  width: 80px;
  background: #31a4b2;
}

.hk-central_block {
  display: flex;
  align-items: center;
  margin-left: 240px;
  height: 100vh;
}

.hk-main .hk-central_block {
  height: calc(100vh - 230px);
}

.hk-timer {
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100vw - 240px);
}

.hk-time {
  display: block;
  float: left;
  height: 140px;
  width: calc(60% - 240px);
  padding-left: 240px;
  background: #31a4b2;
}

.hk-time-header, .hk-amount-header {
  font-size: 30px;
  font-weight: 900;
  color: #1c737e;
  display: block;
  float: left;
  padding-top: 52px;
}

.hk-amount {
  display: block;
  float: left;
  height: 140px;
  width: 40%;
  margin-left: -4px;
  background: #209aa8;
}

.hk-amount-header {
  padding-left: 3vw;
}

.hk-amount-number {
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
  display: block;
  float: left;
  padding-top: 46px;
  padding-left: 2vw;
}


/*SLIDE 2*/

.hk-about {
  background-color: #303030;
}

.hk-about h2 {
  font-size: 46px;
  font-weight: 100;
  text-transform: uppercase;
}

hr {
  width: 135px;
  margin-left: 0;
  border-color: #31a4b2;
}

.hk-central_block>div {
  width: calc(100% - 240px);
  position: relative;
}

.hk-about p {
  width: 33%;
  float: left;
  padding-left: 90px;
  box-sizing: border-box;
}

.hk-about-quote_text {
  position: relative;
  z-index: 1;
  font-size: 30px;
  line-height: 40px;
  font-weight: 100;
  color: #31a4b2;
  margin-top: 60px;
}

.hk-about-quote_text:before {
  content: '“';
  position: absolute;
  top: 90px;
  left: -15px;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 500;
  font-size: 400px;
  color: #383838;
  z-index: -1;
}


p.hk-about-descr {
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  max-width: 400px;
}


/*SLIDE 3*/

.hk-timeline {
  background-color: #282828;
}

.hk-timeline .hk-central_block {
  align-items: baseline;
}

.hk-timeline .hk-central_block>div {
  margin-top: 50px;
}

.hk-timeline h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 100;
}

.hk-timeline-figure {
  height: 420px;
  width: 1000px;
  margin: auto;
  background: url("../img/hk-timeline.png");
  background-repeat: no-repeat;
  background-position: 50% 60px;
  margin-top: 100px;
}

.hk-timeline-line-1 {
  height: 30px;
  font-size: 22px;
  font-weight: 300;
  padding-top: 28px;
  margin-left: 85px;
}

.hk-timeline-line-1 .hk-cell-2, .hk-timeline-line-1 .hk-cell-3, .hk-timeline-line-1 .hk-cell-4 {
  margin-left: 90px;
}

.hk-timeline-line-2 {
  height: 90px;
  font-size: 16px;
  font-weight: 100;
  color: #31a4b2;
  padding-top: 49px;
  margin-left: 85px;
}

.hk-timeline-line-2 .hk-cell-1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 77px;
}

.hk-timeline-line-2 .hk-cell-2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 75px;
}

.hk-timeline-line-2 .hk-cell-3 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 90px;
}

.hk-timeline-line-2 .hk-cell-4 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 92px;
}

.hk-timeline-line-3 {
  height: 30px;
  font-size: 22px;
  font-weight: 300;
  padding-top: 54px;
  margin-left: 85px;
}

.hk-timeline-line-3 .hk-cell-2 {
  margin-left: 38px;
}

.hk-timeline-line-3 .hk-cell-3 {
  margin-left: 40px;
}

.hk-timeline-line-3 .hk-cell-4 {
  margin-left: 65px;
}

.hk-timeline-line-4 {
  height: 90px;
  font-size: 16px;
  font-weight: 100;
  color: #31a4b2;
  padding-top: 49px;
  margin-left: 85px;
}

.hk-timeline-line-4 .hk-cell-1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}

.hk-timeline-line-4 .hk-cell-2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 75px;
}

.hk-timeline-line-4 .hk-cell-3 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 80px;
}

.hk-timeline-line-4 .hk-cell-4 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 100px;
}

.hk-hacken {
  background-color: #303030;
}

.hk-hacken .hk-central_block {
  align-items: baseline;
}

.hk-hacken .hk-central_block>div {
  margin-top: 50px;
}

.hk-hacken h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 100;
}

.hk-hacken-figure {
  height: 500px;
  width: 800px;
  margin: auto;
  background: url("../img/hacken-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 100px;
  position: relative;
}

.hk-hacken-figure > div {
  position: absolute;
}

#hacken-1 {
    top: 110px;
    left: 121px;
    font-size: 22px;
    font-weight: 300;
}

#hacken-2 {
    top: 167px;
    right: 150px;
    font-size: 22px;
    font-weight: 300;
}

#hacken-3 {
    top: 275px;
    left: 205px;
    font-size: 22px;
    font-weight: 500;
}

#hacken-4 {
    bottom: 80px;
    right: 80px;
    font-size: 16px;
    font-weight: 300;
}

#hacken-5 {
    bottom: 55px;
    left: 80px;
    font-size: 16px;
    font-weight: 300;
}

.hk-milestones {
  background-color: #282828;
}

.hk-milestones .absolute-center {
  width: 72%;
}

.hk-milestones .hk-central_block {
    align-items: baseline;
}

.hk-milestones .hk-central_block>div {
    margin-top: 50px;
}

.hk-milestones h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 100;
}

.hk-milestones-block_headers {
    width: 100%;
    height: 200px;
}

.hk-milestones-block_headers > div {
    display: inline-block;
    width: 20%;

    box-sizing: border-box;
    padding-left: 30px;
}

.hk-milestones-block_headers > div + div {
    margin-left: -4px;
}

.hk-milestones-block_headers > div h4 {
  text-transform: capitalize;
  font-size: 22px;
font-weight: 500;
color: #55c3c8;
}

.hk-milestones-block_headers p {
  font-size: 16px;
  font-weight: 300;
      margin-top: 30px;
}

.hk-milestones-block_cards {
  width: 100%;
  height: 360px;
}

.hk-milestones-block_cards > div {
  display: inline-block;
  vertical-align: top;
  width: 20%;
      box-sizing: border-box;
}

.hk-milestones-block_cards > div + div {
    margin-left: -4px;
}

.hk-milestones-block {
    height: 100%;
}

.hk-milestones-block.hk-block-1 {
    background: #2f3f40;
}

.hk-milestones-block.hk-block-2 {
    background: #365a5b;
}

.hk-milestones-block.hk-block-3 {
    background: #4d7876;
}

.hk-milestones-block.hk-block-4 {
    background: #539897;
}

.hk-milestones-block.hk-block-5 {
    background: #55c3c8;
}

.hk-milestones-block p {
    padding: 0 30px;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
}

.hk-white {
  color: #ffffff;
}

.hk-boldest {
  font-weight: 900;
}

.hk-bolder {
  font-weight: 700;
}

.hk-bold {
  font-weight: 300;
}

.hk-token_sale {
  background-color: #2f2f2f;
}
.hk-token_sale .hk-central_block {
  align-items: baseline;
}

.hk-token_sale .hk-central_block>div {
  margin-top: 50px;
}

.hk-token_sale h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 100;
}

.hk-token_sale-figure {
  height: 500px;
  width: 100%;
  margin: auto;
  background: url("../img/hk-token_sale.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 100px;
  position: relative;
}

.hk-token_sale-figure > div {
  position: absolute;
}

.hk-burning {
  background-color: #282828;
}
.hk-burning .hk-central_block {
    align-items: baseline;
}

.hk-burning .hk-central_block>div {
    margin-top: 50px;
}
.hk-burning h2 {
  font-size: 46px;
  font-weight: 100;
  text-transform: uppercase;
}

.hk-burning p {
  width: 33%;
  float: left;
  padding-left: 90px;
  box-sizing: border-box;
}

.hk-burning-quote_text {
  position: relative;
  z-index: 1;
  font-size: 30px;
  line-height: 40px;
  font-weight: 100;
  color: #31a4b2;
  margin-top: 60px;
}

.hk-burning-quote_text:before {
    content: '“';
    position: absolute;
    top: 90px;
    left: -15px;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 500;
    font-size: 400px;
    color: #383838;
    z-index: -1;
}

p.hk-burning-descr {
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  max-width: 400px;
}

.hk-details {
  background-color: #313131;
}

.hk-details .hk-central_block {
    align-items: baseline;
}

.hk-details .hk-central_block>div {
    margin-top: 50px;
}

.hk-details h2 {
  font-size: 46px;
  font-weight: 100;
  text-transform: uppercase;
}


.hk-details-quote_text {
  position: relative;
  z-index: 1;
  font-size: 30px;
  line-height: 40px;
  font-weight: 100;
  color: #31a4b2;
  margin-top: 60px;
}


.hk-details p {
  width: 33%;
  float: left;
  padding-left: 90px;
  box-sizing: border-box;
}

.hk-details-panes_container {
  float: left;
  width: 60%;
  padding-left: 80px;
box-sizing: border-box;
}

.hk-details-pane {
  width: 33%;
  min-width: 150px;
  float: left;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 100;
  line-height: 28px;
}

.hk-details-pane h5 {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
}

.hk-bonuses {
  background-color: #282828;
}

.hk-bounty {
  background-color: #303030;
}

.hk-team {
  background-color: #282828;
}

.hk-partners {
  background-color: #313131;
}

.hk-about::after, .hk-hacken::after, .hk-ico::after, .hk-details::after, .hk-bounty::after, .hk-partners::after {
  content: " ";
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.margin-none {
  margin: 0 !important;
}

.not-relative {
  position: static !important;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hk-about,
.hk-token_sale,
.hk-partners,
.hk-bounty,
.hk-details {
  position: relative;
}

.hk-about:after,
.hk-token_sale:after,
.hk-partners:after,
.hk-bounty:after,
.hk-details:after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #303030;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 90% 100%;
  background-position: top right;
  background-image: url(./../img/lines-dots-bg.png);
}

.hk-token_sale {
  background-color: #313131;
}

.hk-main,
.hk-timeline,
.hk-burning,
.hk-team,
.hk-bonuses {
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hk-main {
  background-image: url(./../img/first-block-bg.png);
}

.hk-timeline {
  background-image: url(./../img/timeline-bg.png);
}

.hk-burning {
  background-image: url(./../img/timeline-bg.png);
}

.hk-team {
  background-image: url(./../img/team-bg.png);
}

.hk-bonuses {
  background-image: url(./../img/bonuses-bg.png);
}

h2 + hr {
  margin: 50px 0;
}

.main-page-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
}

.info-icon {
  position: relative;
  top: 3px;
  font-size: 23px;
  margin-left: 5px;
  color: #55c3c8;
}
