.hk-desktop {
  display: none;
}

.hk-header.hk-tablet {
  position: fixed;
  z-index: 6;
      padding: 0px 130px 0 170px;
  left: 0;
  right: 0;
}

.hk-logo {
left: 55px;
top: 20px;
position: absolute;
}

.hk-subscribe {
    margin-top: 40px;
}

#hk-language-select {
    margin-top: 40px;
}
#hk-tablet_menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 28px;
  background: #28a4b3;
}

#hk-tablet_menu > .zmdi-menu {
  color: #fff;
  font-size: 24px;
}

.hk-navigation {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 7;
    bottom: 0;
    width: 620px;
    background: #303030;
}
.hk-nav-item {
    color: #ffffff;
    font-size: 20pt;
    font-weight: 300;
        margin-right: 60px;
}
.hk-nav-menu {
    margin-top: 120px;
}

.hk-nav-menu li {
    padding: 2vh 0;
}


.hk-nav-item.active, .hk-nav-item:hover {
    color: #ffffff;
}
.hk-nav-item_name {
  visibility: visible;
}
.hk-menu-circle, .hk-nav-item.active .hk-menu-circle, .hk-nav-item:hover .hk-menu-circle,
.hk-nav-item .hk-menu-circle::after {
  display: none;
}

.hk-tablet-menu_header {
    position: absolute;
    left: 0;
    right: 0;
    background: #119aa9;
    height: 80px;
}

ul.hk-social {
    margin-top: 26px;
}

.hk-social-link a {
    padding: 0px 20px;
    color: #fff;
    font-size: 27px;
    text-decoration: none;
}
