#fullpage {
  .hk-screen {
    height: 100%;

    .hk-central_block {
      height: 100%;
      margin: 0 14px;;
    }
  }



  .hk-about {
    &::after {
      background-image: url(./../img/bg-slide-2.png);
    }
    .hk-central_block {
      > div {
        > h2 {
          font-size: 26px;
        }
        > hr {
          margin: 20px 0;
        }

        .hk-about-quote_text {
          font-size: 20px;
          padding-left: 20px
        }
        .hk-about-descr {
          padding-left: 0;
          font-size: 16px;
        }
      }
    }
  }

  .hk-timeline {
    padding-bottom: 20px;
    .hk-central_block {
      .not-relative {
        .hk-timeline-figure {
          display: none;
        }
        .hk-timeline-figure-mobile {
          display: block;
          background-image: url(./../img/timeline-ilustration.png);
          min-height: 435px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

.hk-header.hk-tablet {
  position: fixed;
  z-index: 6;
  left: 0;
  right: 0;
  margin: 0;
  background: #282828;
  height: 45px;
  padding: 0;
  display: flex;
  justify-content: space-between;

  .hk-logo {
    position: initial;
    padding: 14px 0 0 14px;
    width: 40px;

    > img {
      width: 40px;
    }
  }

  .hk-subscribe {
    margin-top: 0px;

    .hk-subscribe-icon {
      font-size: 20px;
    }

    .hk-subscribe-link {
      display: none;
    }
  }

  #hk-tablet_menu {
    position: initial;
    padding: 10px 14px 10px 14px;
  }

  #hk-language-select {
    position: initial;
    margin: 0;
    font-size: 14px;
  }
}

.section-home {
  .hk-central_block {
    margin: 0 0 0 14px;

    .main-page-links {
      justify-content: space-around;
      padding: 0 25px 0 0px;
      a {
        margin: 0;
      }
    }

    > div {
      height: calc(100vh - 135px);
      width: 100%;

      h1 {
        font-size: 27px;
      }

      p {
        font-size: 17px;
      }
    }
  }

  .hk-timer {
    height: 90px;
    display: flex;

    .hk-time {
      display: flex;
      padding: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-width: 200px;
      height: 90px;

      .hk-time-header {
        padding: 0 0 5px 0;
        font-size: 16px;
      }

      .hk-bonus_timer-time__main {
        height: auto;
        font-size: 16px;

        .hk-bonus_timer-timetick__main {
          min-width: 50px;

          .timetick-time {
            font-size: 16px;
          }
          .timetick-desc {
            font-size: 12px;
          }
        }


      }
    }

    .hk-amount {
      height: 90px;

      .hk-amount-header {
        padding-right: 10px;
        width: auto;
        font-size: 17px;
      }
      .hk-amount-number {
        position: absolute;
        right: 15px;
        bottom: 15px;
        padding: 0;
        font-size: 16px;
      }
    }
  }
}
