.hacken-modal-container {
  .hacken-modal-content {
    width: 70%;
    height: 80%;

    .hacken-answer {
      font-size: 18px;
    }
  }
}

.main-modal-container {
  .main-modal-content {
    width: 70%;
    height: 40%;
  }
}

.advisor-modal-container {
  .advisor-modal-content {
    width: 60%;
    height: 50%;

    .modal-form-desc-white {
      font-size: 18px;
    }
  }
}

.hk-desktop {
  display: none;
}

.hk-header.hk-tablet {
  position: fixed;
  z-index: 6;
  padding: 0 130px 0 170px;
  left: 0;
  right: 0;
  margin: 0;
  height: 60px;
  padding-bottom: 21px;
  background: #282828;

  .hk-logo {
    left: 55px;
    top: 20px;
    position: absolute;
  }

  .hk-subscribe {
    margin-top: 30px;

    .hk-subscribe-icon {
      font-size: 20px;
    }

    .hk-subscribe-link {
      display: inline-block;
      font-size: 20px;
    }
  }

  #hk-language-select {
    margin-top: 30px;
    font-size: 20px;
    display: none;
  }
}

#hk-tablet_menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 28px;
  background: #28a4b3;
}

#hk-tablet_menu > .zmdi-menu {
  color: #fff;
  font-size: 24px;
}

.hk-navigation {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 7;
  bottom: 0;
  width: 620px;
  background: #303030;
}

.hk-nav-item {
  color: #ffffff;
  font-size: 20pt;
  font-weight: 300;
  margin-right: 60px;
}

.hk-nav-menu {
  margin-top: 120px;
}

.hk-nav-menu li {
  padding: 2vh 0;
}

.hk-nav-item.active,
.hk-nav-item:hover {
  color: #ffffff;
}

.hk-nav-item_name {
  visibility: visible;
}

.hk-menu-circle,
.hk-nav-item .hk-menu-circle::after,
.hk-nav-item.active .hk-menu-circle,
.hk-nav-item:hover .hk-menu-circle {
  display: none;
}

.hk-tablet-menu_header {
  position: absolute;
  left: 0;
  right: 0;
  background: #119aa9;
  height: 80px;

  .tablet-toggle_menu {
    display: inline-block;
    float: right;
    padding: 22px 32px;
    background: #28a4b3;

    a {
      color: #ffffff;
      font-size: 30px;

      :focus,
      :hover {
        color: #ffffff;
        outline: none;
      }
    }
  }
}

ul.hk-social {
  margin-top: 18px;
  margin-bottom: 12px;
  width: 530px;
  padding-left: 0;

  li {
    width: 80px;
  }
}

.hk-social-link a {
  padding: 0 20px;
  color: #fff;
  font-size: 27px;
  text-decoration: none;
}

.hk-main .hk-central_block {
  margin: 0 55px;
  height: 100vh;
}

.hk-central_block {
  margin: 80px 55px 0;
  height: calc(100vh - 80px);

  > div {
    width: 100%;
  }
}

.hk-timer {
  width: 100%;
  background: #31a4b2;

  .hk-time {
    width: calc(60% - 55px);
    padding-left: 55px;

    .hk-bonus_timer-time__main {
      height: 70px;
      text-align: center;
    }
  }

  .hk-amount {
    width: 40%;
    margin-left: 0;

    .hk-amount-header {
      width: 50%;
      display: inline-block;
      float: left;
    }

    .hk-amount-number {
      float: right;
      padding-right: 50px;
    }
  }

  .hk-amount-header,
  .hk-time-header {
    padding-top: 15px;
    float: none;
  }
}

.hk-about {
  h2 {
    margin-top: 50px;
  }

  p {
    width: 100%;
    float: none;
    padding-left: 40px;
    box-sizing: border-box;
  }

  .hk-about-quote_text {
    margin-top: 0;
  }

  .hk-about-descr {
    max-width: unset;
    font-size: 18px;
  }

  .hk-central_block {
    align-items: start;
  }
}

.hk-timeline {
  .hk-central_block > div {
    margin-top: 0;

    .hk-timeline-figure {
      background: url("../img/timeline-tablet.png");
      background-repeat: no-repeat;
      background-position: 50% 60px;
      background-size: contain;
      height: 850px;
      width: 500px;
      top: 140px;
      transform: translate(-50%, 0px);

      .hk-timeline-line-1,
      .hk-timeline-line-2,
      .hk-timeline-line-3,
      .hk-timeline-line-4 {
        height: 100%;
        width: 100%;
        padding-top: 0;
        position: absolute;
        margin-left: 0;
      }

      .hk-timeline-line-1 .hk-cell-2,
      .hk-timeline-line-1 .hk-cell-3,
      .hk-timeline-line-1 .hk-cell-4 {
        margin-left: 0;
      }

      .hk-timeline-line-1 {
        .hk-cell-1 {
          position: absolute;
          top: 60px;
          left: 72px;
        }

        .hk-cell-2 {
          position: absolute;
          top: 140px;
          right: 80px;
        }

        .hk-cell-3 {
          position: absolute;
          top: 225px;
          left: 55px;
        }

        .hk-cell-4 {
          position: absolute;
          top: 305px;
          right: 50px;
        }
      }

      .hk-timeline-line-2 {
        .hk-cell-1 {
          position: absolute;
          top: 138px;
          left: 70px;
          font-size: 18px;
          margin: 0;
        }

        .hk-cell-2 {
          position: absolute;
          top: 208px;
          right: 45px;
          margin: 0;
          font-size: 18px;
        }

        .hk-cell-3 {
          position: absolute;
          top: 280px;
          left: 0;
          width: 208px;
          font-size: 18px;
          margin: 0;
        }

        .hk-cell-4 {
          position: absolute;
          top: 380px;
          right: 80px;
          font-size: 18px;
          margin: 0;
        }
      }

      .hk-timeline-line-3 {
        .hk-cell-1 {
          position: absolute;
          top: 390px;
          left: 40px;
        }

        .hk-cell-2 {
          position: absolute;
          top: 465px;
          right: 15px;
          margin: 0;
        }

        .hk-cell-3 {
          position: absolute;
          top: 552px;
          left: 55px;
          margin: 0;
        }

        .hk-cell-4 {
          position: absolute;
          top: 635px;
          right: 70px;
          margin: 0;
        }
      }

      .hk-timeline-line-4 {
        .hk-cell-1 {
          position: absolute;
          top: 463px;
          left: 39px;
          font-size: 18px;
          margin: 0;
        }

        .hk-cell-2 {
          position: absolute;
          top: 540px;
          right: 50px;
          font-size: 18px;
          margin: 0;
        }

        .hk-cell-3 {
          position: absolute;
          top: 608px;
          left: 55px;
          width: 160px;
          font-size: 18px;
          margin: 0;
        }

        .hk-cell-4 {
          position: absolute;
          top: 710px;
          right: 90px;
          margin: 0;
          font-size: 18px;
        }
      }
    }
  }
}

.hk-milestones {
  .hk-central_block {
    > div {
      margin-top: 40px;
    }

    .absolute-center {
      width: calc(100% - 110px);
      top: 130px;
      transform: translate(-50%, 0%);
      height: calc(100% - 130px);

      .hk-milestones-block_headers {
        position: absolute;
        width: 100%;
        height: 100%;

        > div+div {
          margin-left: 0;
        }

        .hk-milestones-block_header-1 {
          display: block;
          width: 100%;

          h4 {
            display: inline-block;
            width: 50%;
          }

          hr {
            display: none;
          }

          p {
            display: inline-block;
            font-size: 20px;
          }
        }

        .hk-milestones-block_header-2 {
          display: block;
          width: 100%;
          margin-top: 20px;

          h4 {
            display: inline-block;
            width: 50%;
          }

          hr {
            display: none;
          }

          p {
            display: inline-block;
            font-size: 20px;
          }
        }

        .hk-milestones-block_header-3 {
          display: block;
          width: 100%;
          margin-top: 70px;

          h4 {
            display: inline-block;
            width: 50%;
          }

          hr {
            display: none;
          }

          p {
            display: inline-block;
            font-size: 20px;
          }
        }

        .hk-milestones-block_header-4 {
          display: block;
          width: 100%;
          margin-top: 70px;

          h4 {
            display: inline-block;
            width: 50%;
          }

          hr {
            display: none;
          }

          p {
            display: inline-block;
            font-size: 20px;
          }
        }

        .hk-milestones-block_header-5 {
          display: block;
          width: 100%;
          margin-top: 115px;

          h4 {
            display: inline-block;
            width: 50%;
          }

          hr {
            display: none;
          }

          p {
            display: inline-block;
            font-size: 20px;
          }
        }
      }

      .hk-milestones-block_cards {
        width: 100%;
        height: 100%;
        position: relative;

        > div+div {
          margin-left: 0;
        }

        .hk-milestones-block {
          position: absolute;
          width: 100%;

          p {
            font-size: 20px;
          }
        }

        .hk-block-1 {
          height: 64px;
          top: 60px;
        }

        .hk-block-2 {
          height: 112px;
          top: 165px;
        }

        .hk-block-3 {
          height: 112px;
          top: 324px;
        }

        .hk-block-4 {
          height: 160px;
          top: 480px;
        }

        .hk-block-5 {
          height: 200px;
          top: 680px;
        }
      }
    }
  }
}

.hk-token_sale {
  .hk-token_sale-figure {
    height: 500px;
    width: 100%;
    margin: auto;
    background: url("../img/hk-token_sale_tablet.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin-top: 60px;
    position: relative;
  }
}

.hk-burning {
  h2 {
    margin-top: 0;
  }

  p {
    width: 100%;
    float: none;
    padding-left: 40px;
    box-sizing: border-box;
  }

  .hk-burning-quote_text {
    margin-top: 0;
  }

  .hk-burning-descr {
    max-width: unset;
    font-size: 18px;
  }

  .hk-central_block {
    align-items: start;
  }
}

.hk-details {
  h2 {
    margin-top: 0;

    > br {
      display: none;
    }
  }

  hr {
    margin-top: 0;
  }

  p {
    width: 100%;
  }

  .hk-details-panes_container {
    float: left;
    width: 100%;
    padding-left: 0;
  }
}

.hk-bonuses {
  h2 {
    margin: 0;
  }

  p {
    margin: 10px 0;
  }

  .hk-bonuses-figure {
    margin-top: 30px;

    .hk-bonus_timer {
      padding: 30px;
      box-sizing: border-box;
      float: none;
      margin: auto;

      p {
        margin: 20px 0;
      }
    }

    .hk-bonuse-circle_container {
      padding: 0;
      margin-top: 30px;
    }
  }
}

.hk-bounty {
  h2 {
    margin-top: 0;
  }

  hr {
    margin-top: 0;
    margin-bottom: 40px;
  }

  p {
    width: 100%;

    > br {
      display: none;
    }
  }

  .hk-bounty-quote_text {
    margin-top: 0;
  }

  .hk-bounty-panes_container {
    float: none;
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
  }
}

.hk-team {
  .hk-central_block {
    .not-relative {
      display: block;
      margin-left: 0;
      position: relative !important;

      .block-title-with-pagination {
        display: block;

        h2 {
          margin-bottom: 40px;
          margin-top: 0;

          > br {
            display: none;
          }
        }

        .slider-pagination {
          position: absolute;
          top: 650px;
          width: 50%;
          max-width: 350px;
          box-sizing: border-box;
          justify-content: space-between;
        }
      }

      .team-slider {
        font-size: 16px;

        .team-image {
          max-width: 350px;
          width: 50%;
          height: auto;
        }

        .swiper-container {
          width: 100%;

          .name {
            display: block;
            position: absolute;
            left: 50%;
            top: 0;
            width: 50%;
            padding-left: 30px;
            box-sizing: border-box;
            margin-top: 0;
            font-size: 22px;
          }

          .work {
            display: block;
            position: absolute;
            left: 50%;
            top: 35px;
            width: 50%;
            padding-left: 30px;
            box-sizing: border-box;
            font-size: 20px;
          }

          .member-description,
          .member-description-last {
            display: block;
            position: absolute;
            left: 50%;
            top: 70px;
            width: 50%;
            padding-left: 30px;
            box-sizing: border-box;
            font-size: 18px;
          }
        }
      }
    }
  }
}
//TODO remove when commit

.hk-navigation {
  display: none;
}
// end
